.section-title {
    margin-top: 0;
    margin-bottom: 30px;
    @include font (700, 28, 33, null);
    
    text-align: center;
    color: var(--secondory-font-color);

 @media screen and (min-width: 1200px) {

    @include font (700, 36, 42, null);
     margin-bottom: 50px;
 }
 }
 .title {
     margin-top: 0;
     margin-bottom: 20px;
     @include font(700, 14, 16, null);
 
     color: var(--secondory-font-color);
 }