

   /* .overlay {
            width: 480px;
            height: 400px;
            margin: 0 auto;
            background-image: var(--bg-gradient), url('../images/hero-mob.jpg');
    
            @include retina {
                background-image: var(--bg-gradient), url('../images/hero-mob-2x.jpg');
            }
    
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
    
            @media screen and (min-width: 768px) {
                width: 768px;
                background-image: var(--bg-gradient), url('../images/hero-tabl.jpg');
    
                @include retina {
                    background-image: var(--bg-gradient), url('../images/hero-tabl-2x.jpg');
                }
            }
    
            @media screen and (min-width: 1200px) {
                background-image: var(--bg-gradient), url('../images/hero.jpg');
    
                @include retina {
                    background-image: var(--bg-gradient), url('../images/hero-2x.jpg');
                
                }
            }

            max-width: 1600px;
            min-height: 600px;
            margin: 0 auto;
 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--border-bg-color);
    text-align: center;
}

.hero-title {
    margin: 0 auto 30px;
    @include font(900, 44, 60, 00.06em);
  
    text-transform: uppercase;
    max-width: 696px;
    color: var(--main-light-color);
}

.hero-button {
    @include font(700, 16, 30, 00.06em);

    padding: 10px 32px;
    min-width: 216px;
    height: 50px;
    background-color: var(--accent-color);
    color: var(--main-light-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--secondary-accent-color);
    }
}*/
.overlay {
    width: 480px;
    height: 400px;
    margin: 0 auto;
    background-image: var(--bg-gradient), url('../images/hero-mob.jpg');

    @include retina {
        background-image: var(--bg-gradient), url('../images/hero-mob-2x.jpg');
    }

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: 768px) {
        width: 768px;
        background-image: var(--bg-gradient), url('../images/hero-tabl.jpg');

        @include retina {
            background-image: var(--bg-gradient), url('../images/hero-tabl-2x.jpg');
        }
    }

    @media screen and (min-width: 1200px) {
        background-image: var(--bg-gradient), url('../images/hero.jpg');

        @include retina {
            background-image: var(--bg-gradient), url('../images/hero-2x.jpg');
        }

        width: 1200px;
        max-width: 1600px;
        height: 600px;
    }
}

.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: var(--border-bg-color);
    text-align: center;

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero-title {
    margin: 0 auto 30px;
    @include font(900, 26, 42, 0.06em);
   
    text-transform: uppercase;
    max-width: 360px;
    color: var(--main-light-color);

    @media screen and (min-width: 1200px) {
        @include font(900, 44, 60, 0.06em);
        max-width: 696px;
    }
}

.hero-button {
    @include font(700, 16, 30, 00.06em);
  
    padding: 10px 32px;
    min-width: 216px;
    height: 50px;
    background-color: var(--accent-color);
    color: var(--main-light-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--secondary-accent-color);
    }
}